.dt-section-container .dt-section-container-input.dt-section-container-input-type-order {
	display: block;
	padding: 0px;
	width: 100%;
	height: 320px;
}

.dt-section-container .dt-section-container-input.dt-section-container-input-type-order.vertical {
	height: 640px;
}

.dt-section-container .dt-section-container-input-type-assign {
	display: block;
	width: 100%;
	height: 160px;
}

.dt-section-container .dt-section-container-options .option-draggable {
	display: inline-block;
	width: 128px;
	height: 128px;
}

.dt-section-container .dt-section-container-options .option-draggable.is-inside-container {
	border-radius: 100%;
}

.dt-section-container .dt-section-container-options .dt-options-clearer {
	clear: both;
}
